.progress-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pop;
  flex-direction: column;
}
.progress-main ul {
  display: flex;
  margin-top: 80px;
}
.progress-main ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-main ul li .icon {
  font-size: 35px;
  color: #ff4732;
  margin: 0 60px;
}
.progress-main ul li .text {
  font-size: 14px;
  font-weight: 600;
  color: #ff4732;
}

/* Progress Div Css  */

.progress-main ul li .progress {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(68, 68, 68, 0.781);
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: rgba(68, 68, 68, 0.781);
  right: 30px;
}
.one::after {
  width: 0;
  height: 0;
}
.progress-main ul li .progress .uil {
  display: none;
}
.progress-main ul li .progress p {
  font-size: 13px;
}

/* Active Css  */

.progress-main ul li .active {
  background-color: #ff4732;
  display: grid;
  place-items: center;
}
.progress-main li .active::after {
  background-color: #ff4732;
}
.progress-main ul li .active p {
  display: none;
}
.progress-main ul li .active .uil {
  font-size: 20px;
  display: flex;
}
