@import url("https://fonts.googleapis.com/css2?family=Pooppins:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  background: #eff2fc;
  font-family: "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.page {
  background: #fff;
  display: block;
  margin: 3rem auto 3rem auto;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
  overflow-x: hidden;
}

.page hr {
  border: 1.5px solid black;
  margin: 0 20px 0 20px;
}

/*Top-section*/
.top-section {
  color: black;
  padding: 30px;
}

.top-section h2 {
  font-weight: 800;
}

.top-section .address-content {
  text-align: center;
}

/*Billing Invoice*/
.billing-invoice {
  padding: 20px;
}

.billing-invoice .issue {
  text-align: right;
  font-size: 15px;
}

/*Billing To*/
.billing-to {
  padding: 5px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/*Invoice Table*/
.table {
  padding: 0 20px;
}

.table table {
  width: 100%;
}

.table table {
  padding: 20px;
  border-collapse: collapse;
}

.table tr {
  text-align: left;
  font-weight: bold;
}
.table td {
  padding: 25px 5px 10px 0px;
}

.table table tr:first-child {
  color: black;
  border-bottom: 1px solid black;
}

.table table tr:last-child {
  background-color: #f7f7f7;
}

.table table td:nth-last-child(2),
.table table td:last-child {
  padding: 20px 0 20px 0;
}

/*Bottom-section*/
.bottom-section {
  margin-top: 15px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-section .status-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.bottom-section .status.free::before,
.bottom-section .status.paid::before {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  display: inline-block;
  text-transform: uppercase;
}

.bottom-section .status.free::before {
  content: "Unpaid";
  background-color: #ef7c94;
}

.bottom-section .status.paid::before {
  content: "Paid";
  background-color: #46f04b;
}

.bottom-section .tnx {
  text-align: center;
  margin-top: 10px;
  font-weight: 1000;
}
