:root {
  --mainColor: #f6f8fa;
  --darkBlack: #2d2f31;
  --darkGrey: #61666b;
  --grey: #d5d5d5;
  --lightGrey: #f2f2f2;
  --yellow: #fecb40;
  --red: #df113c;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
}

p {
  font-size: 14px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 174px;
  height: 100%;
  background-color: #000000;
  padding-top: 70px;
}

.sidebar-menu {
  width: 100%;
  text-align: center;
  padding: 40px 5px;
  color: #ffffff;
  cursor: pointer;
}

.sidebar-menu > span {
  width: 100%;
  line-height: 1.5;
}

.sidebar-menu > a {
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
}

.sidebar-menu:hover,
.sidebar-menu:hover > a {
  color: var(--yellow);
}

.dashboard-banner {
  width: 100%;
  height: auto;
}

.dashboard-banner > img {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  object-fit: cover;
  background-color: #000000;
}

.banner-promo {
  position: absolute;
  color: var(--lightGrey);
  top: 25%;
  left: 10%;
  font-weight: 800;
  z-index: 1;
}

.banner-promo > h1 > span {
  color: var(--yellow);
}

.banner-promo > h1 {
  z-index: 1;
}

.dashboard-menu {
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow-x: auto;
}

.dashboard-menu > a {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);
}

.dashboard-menu > a:hover {
  background-color: var(--red);
  color: var(--lightGrey);
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 100px;
  margin: 0 auto;
}

.dashboard-card {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.card-detail button {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #000000;
  border: none;
  color: var(--lightGrey);
  cursor: pointer;
}

.card-image {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.card-detail {
  padding: 10px;
  width: 210px;
}

.card-detail p {
  color: #5f5f5f;
}

.card-time {
  color: var(--darkGrey);
  font-size: 0.8rem;
  padding-top: 10px;
}

.dashboard {
  padding-left: 174px;
}

.dashboard-order {
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--mainColor);
  z-index: 3;
  overflow-y: scroll;
}

.dashboard-order > h3 {
  padding: 10px 0;
}

.dashboard-order > h4 {
  line-height: 2;
}

.order-time {
  font-size: 0.8rem;
  color: var(--darkGrey);
}

.order-wrapper {
  width: 100%;
  /* overflow-y: scroll; */
  margin: 20px 0;
}

.order-wrapper::-webkit-scrollbar {
  width: 7px;
}

.order-wrapper::-webkit-scrollbar-track {
  background-color: var(--lightGrey);
  border-radius: 20px;
}

.order-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
  border-radius: 20px;
}

.order-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 10px 0;
  justify-content: space-around;
  align-items: flex-start;
}

.order-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.order-detail > input {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
}

.divider {
  width: 100%;
  border: 1px dashed var(--grey);
}

.order-total > p {
  padding: 10px 0;
}

.order-total > p > span {
  float: right;
  font-weight: 600;
}

.checkout {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--darkBlack);
  border: none;
  border-radius: 20px;
  color: var(--lightGrey);
  cursor: pointer;
}

.checkout:hover {
  text-transform: uppercase;
  font-weight: 600;
}

#cart {
  display: none;
}

#cart:checked ~ .label-cart {
  color: var(--lightGrey);
}

#cart:checked ~ .dashboard {
  padding-right: 10px;
}

#cart:checked ~ .dashboard-order {
  display: none;
}

#cart:checked ~ .logo {
  padding-right: 0px;
}

.split-screen {
  display: flex;
  flex-direction: column;
}
.left {
  height: 200px;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("images/pizza-sign2.jpeg");
  background-size: cover;
}
.left .copy {
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.left p {
  font-weight: 400;
}
.right .legal {
  color: black;
  text-align: center;
  justify-content: space-between;
}
.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.input-container .password {
  position: relative;
}
.input-container .password i {
  position: relative;
  top: 42px;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--darkBlack);
  border: 1px solid var(--darkBlack);
}

.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top: -4px;
  left: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}
.signup-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  background-color: var(--darkBlack);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.signup-btn:hover {
  background: #2c4893;
}

.card-div {
  padding: 200px;
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}
