:root {
  --mainColor: #f6f8fa;
  --darkBlack: #2d2f31;
  --darkGrey: #61666b;
  --grey: #d5d5d5;
  --lightGrey: #f2f2f2;
  --yellow: #fecb40;
  --red: #df113c;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  width: 100%;
}

p {
  font-size: 14px;
}

.dashboard-wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 174px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar main";
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 174px;
  height: 100%;
  grid-area: sidebar;
  background-color: #000000;
  padding: 10px;
}

.dashboard {
  grid-area: main;
}

.sidebar-menu {
  width: 100%;
  text-align: center;
  padding: 35px 5px;
  color: #ffffff;
  cursor: pointer;
}

.sidebar-menu > span {
  width: 100%;
}

.sidebar-menu > a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffffff;
}

.sidebar-menu:hover,
.sidebar-menu:hover > a {
  color: orange;
}

.dashboard-banner {
  width: 100%;
  height: auto;
}

.dashboard-banner > img {
  width: 100%;
  height: 100vh;
  background-size: auto 100%;
  object-fit: cover;
  background-color: #000000;
}

.banner-promo {
  position: absolute;
  color: var(--lightGrey);
  top: 25%;
  left: 10%;
  font-weight: 800;
  z-index: 1;
}

.banner-promo > h1 > span {
  color: var(--yellow);
}

.banner-promo > h1 {
  z-index: 1;
}

.dashboard-menu {
  gap: 10px;
  padding: 0.3rem 1rem;
  text-align: center;
}

.dashboard-menu > a {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);
}

.dashboard-menu > a:hover {
  background-color: var(--red);
  color: var(--lightGrey);
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 100px;
  margin: 0 auto;
}

.dashboard-content-profile {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
  padding: 50px 100px;
  margin: 0 auto;
  align-items: center;
}

.dashboard-content-profile h1 {
  text-align: center;
}

.profile {
  align-items: center;
  margin: auto;
}

.profile-content {
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px #ccc;
  padding: 20px;
}

.profile-content button {
  width: 100%;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-content button:hover {
  background-color: #444;
}

.dashboard-card {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.card-detail button {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #000000;
  border: none;
  color: var(--lightGrey);
  cursor: pointer;
}

.card-image {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.card-detail {
  padding: 10px;
  width: 210px;
}

.card-detail p {
  color: #5f5f5f;
}

.card-time {
  color: var(--darkGrey);
  font-size: 0.8rem;
  padding-top: 10px;
}

.dashboard-order {
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: #f5f5f5;
  z-index: 3;
  overflow-y: scroll;
}

.dashboard-order > h3 {
  padding: 10px 0;
}

.dashboard-order > h4 {
  line-height: 2;
}

.order-time {
  font-size: 0.8rem;
  color: var(--darkGrey);
}

.order-wrapper {
  width: 100%;
  /* overflow-y: scroll; */
  margin: 20px 0;
}

.order-wrapper::-webkit-scrollbar {
  width: 7px;
}

.order-wrapper::-webkit-scrollbar-track {
  background-color: var(--lightGrey);
  border-radius: 20px;
}

.order-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--darkGrey);
  border-radius: 20px;
}

.order-card {
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 10px 0;
  justify-content: space-around;
  align-items: flex-start;
}

.order-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.order-detail > input {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
}

.order-detail > i {
  cursor: pointer;
}

.divider {
  width: 100%;
  border: 1px dashed var(--grey);
}

.order-total > p {
  padding: 10px 0;
}

.order-total > p > span {
  float: right;
  font-weight: 600;
}

.checkout {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 1px;
}

.checkout:hover {
  font-weight: 600;
  color: white;
  background-color: black;
  border: 2px solid white;
}

.label-cart {
  cursor: pointer;
}

#cart {
  display: none;
}

#cart:checked ~ .label-cart {
  color: var(--lightGrey);
  cursor: pointer;
}

#cart:checked ~ .dashboard {
  padding-right: 10px;
}

#cart:checked ~ .dashboard-order {
  display: none;
}

#cart:checked ~ .logo {
  padding-right: 0px;
}

.split-screen {
  display: flex;
  flex-direction: column;
}
.left {
  height: 200px;
}
.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("images/feedback-left.png");
  background-size: cover;
}
.left .copy {
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.left p {
  font-weight: 400;
}
.right .legal {
  color: black;
  text-align: center;
  justify-content: space-between;
}
.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}
.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="textarea"] {
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
  border-color: black;
  outline: none;
}

.searchbar input {
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 12px;
  width: 50%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  margin: 50px;
}

.searchbar input:focus {
  border-color: black;
  outline: none;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.input-container .password {
  position: relative;
}
.input-container .password i {
  position: relative;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  display: flex;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--darkBlack);
  border: 1px solid var(--darkBlack);
}

.checkmark {
  position: absolute;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top: -4px;
  left: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
  transform: rotate(45deg);
}
.signup-btn {
  display: block;
  cursor: pointer;
  width: 100%;
  background-color: var(--darkBlack);
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.signup-btn:hover {
  background-color: white;
  color: black;
}

.card-div {
  padding: 200px;
}

.progress-main {
  width: 100%;
  font-family: pop;
  flex-direction: column;
}
.progress-main ul {
  display: flex;
  margin-top: 80px;
}
.progress-main ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-main ul li .icon {
  font-size: 35px;
  color: #ff4732;
  margin: 0 60px;
}
.progress-main ul li .text {
  font-size: 14px;
  font-weight: 600;
  color: #ff4732;
}

/* Progress Div Css  */

.progress-main ul li .progress {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(68, 68, 68, 0.781);
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: rgba(68, 68, 68, 0.781);
  right: 30px;
}
.one::after {
  width: 0;
  height: 0;
}
.progress-main ul li .progress .uil {
  display: none;
}
.progress-main ul li .progress p {
  font-size: 13px;
}

/* Active Css  */

.progress-main ul li .active {
  background-color: #ff4732;
  display: grid;
  place-items: center;
}
.progress-main li .active::after {
  background-color: #ff4732;
}
.progress-main ul li .active p {
  display: none;
}
.progress-main ul li .active .uil {
  font-size: 20px;
  display: flex;
}

/* TABLE RECENT ORDER */
main .recent-table-list {
  margin-top: 2rem;
  width: 100%;
}

main .recent-table-list-title-section {
  background-color: red;
}

main .recent-table-list-title-section button {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  border-radius: 0.5rem;
  width: 100px;
  height: 40px;
}

main .recent-table-list-title-section-right {
  float: right;
  margin-bottom: 10px;
}

main .recent-table-list-title-section button:hover {
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

main .recent-table-list table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: box-shadow 300ms ease, color 300ms ease;
  font-size: 13px;
}

.recent-table-list-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

main .recent-table-list table:hover {
  box-shadow: none;
}

/* main .recent-table-list span {
  color: var(--color-danger);
}
main .recent-table-list span {
  color: var(--color-danger);
} */

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
    height: 100vh;
  }
  .left,
  .right {
    display: flex;
    width: 50%;
    height: auto;
  }
}

/* SIDEBAR */
aside .sidebar {
  /* background: white; */
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: box-shadow 300ms ease, color 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a:last-child:hover {
  color: var(--color-danger);
}

aside .close {
  display: none;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

.form-group {
  display: grid;
  gap: 0.5rem;
  align-items: center;
}

.container-feedback {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: flex;
  margin: auto;
  gap: 5rem;
}

.even-columns img {
  background-size: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.padding-block-1000 {
  padding-block: 10rem;
}

.content-right {
  width: 380px;
  padding: 0 15px 0 15px;
}

.right {
  background-color: black;
}

.right p,
.right h1 {
  color: white;
}

.right button {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.input-container p,
.input-container label {
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  width: 25%;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  /* border: none; */
  margin: 20px 0;
  margin-left: 30px;
}

input[type="submit"] {
  padding: 12px;
  font-size: 16px;
  background-color: lightgray;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

input .span {
  padding: 12px;
  font-size: 16px;
  background-color: lightgray;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}
