@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  /* Color */
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  /* Font Family */
  --ff-primary: "poppins", sans-serif;
  --ff-body: var(--ff-primary);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  /* Padding */
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --size-1000: 10rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  /* Font size */
  --fs-button: var(--fs-100);

  /* Font weight */
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: Orgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-body);
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile-photo span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.success {
  color: var(--color-success);
}
.warning {
  color: var(--color-warning);
}

.padding-block-1000 {
  padding-block: var(--size-1000);
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 1rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

/* SIDEBAR */
aside .sidebar {
  /* background: white; */
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a:last-child:hover {
  color: var(--color-danger);
}

aside .close {
  display: none;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/* MAIN */
main {
  margin-top: 1.4rem;
}

main .date {
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

main .insights > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  background: coral;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insights > div.expenses span {
  background: var(--color-danger);
}

main .insights > div.income span {
  background: var(--color-success);
}

main .insights > div .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .insights h3 {
  margin: 1rem 0 0.6rem;
  font-size: 1rem;
}

main .insights .progress {
  position: relative;
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

main .insights svg {
  width: 7rem;
  height: 7rem;
}

main .insights svg circle {
  fill: none;
  stroke: var(--color-primary);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 110;
  stroke-dashoffset: 92;
}

main .insights .sales svg circle {
  stroke-dashoffset: -30;
  stroke-dasharray: 200;
}

main .insights .expenses svg circle {
  stroke-dashoffset: 20;
  stroke-dasharray: 80;
}

main .insights .income svg circle {
  stroke-dashoffset: 35;
  stroke-dasharray: 110;
}

main .insights .progress .number {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .insights small {
  margin-top: 1.6rem;
  display: block;
}

/* TABLE RECENT ORDER */
main .recent-table-list {
  margin-top: 2rem;
}

main .recent-table-list-title-section {
  background-color: red;
}

main .recent-table-list-title-section button {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  border-radius: 0.5rem;
  width: 100px;
  height: 40px;
}

main .recent-table-list-title-section-right {
  float: right;
  margin-bottom: 10px;
}

main .recent-table-list-title-section button:hover {
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

main .recent-table-list table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  font-size: 13px;
}

.recent-table-list-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

main .recent-table-list table:hover {
  box-shadow: none;
}

/* main .recent-table-list span {
  color: var(--color-danger);
}
main .recent-table-list span {
  color: var(--color-danger);
} */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
  text-align: center;
}

main table tbody td {
  height: 6rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

tbody img {
  width: 90px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

main table tbody tr:last-child td {
  border: none;
}

main .recent-table-list a {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-primary);
}

main .profile-photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

/* RIGHT */
.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right .top .profile {
  display: flex;
  gap: 0.5rem;
  text-align: right;
}

/* RECENT UPDATES */
.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
  filter: none;
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.updates {
  margin-top: 1rem;
}

/* SALES ANALYTICS */

.sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}

.right .sales-analytics .item .icon {
  padding: 0.6rem;
  color: var(--color-white);
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
}

.right .sales-analytics .item.offline .icon {
  background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
  background: var(--color-success);
}

.right .sales-analytics .add-product {
  background-color: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .sales-analytics .add-product:hover {
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

.right .sales-analytics .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
  font-weight: 600;
}

/* LOGIN */

.container-login {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: flex;
  margin: auto;
  gap: 5rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: hsl(203, 29%, 95%);
  border-bottom: 1px solid hsl(202, 28%, 92%);
  font-family: 14px;
  height: 75px;
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  border-style: none;
}

input::placeholder {
  font-size: 14px;
}

object {
  width: 100%;
  height: 30%;
  object-fit: contain;
}

.signup-svg {
  height: 477px;
  width: 540px;
}

.content-right {
  width: 380px;
  padding: 0 15px 0 15px;
}

.button-login {
  width: 100%;
  display: block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-primary);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

/* ADD PRODUCT */
.accountDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.accountDetails button {
  background-color: var(--color-primary);
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
  width: 60%;
  height: 50px;
  display: inline-block;
  margin: auto;
}

.accountDetails button:hover {
  background-color: var(--color-primary-variant);
}

.acc-detail {
  padding: 2rem;
}

.acc-detail form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
  margin-right: 50px;
}

.gender-details .category label {
  display: flex;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #000000;
}

form input[type="radio"] {
  display: none;
}

form .bttn {
  height: 40px;
  width: 100px;
  display: inline-block;
}

form .bttn1 {
  height: 30px;
  display: inline-block;
}

form .bttn input {
  height: 100%;
  outline: none;
  width: 350px;
  margin-left: 300px;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1px;
  background: #1b1b1b;
}

form .bttn input:hover {
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  cursor: pointer;
}

form .bttn1 input:hover {
  background: grey;
}

/* MEDIA QUERIES TABLET */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .recent-table-list {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0;
  }

  main .recent-table-list table {
    width: 83vw;
  }

  main table tbody tr th:last-child,
  main table tbody tr th:first-child {
    display: none;
  }
}

/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }

  aside .sidebar a:last-child {
    position: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .recent-table-list {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-table-list table {
    width: 100%;
    margin: 0;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }

  main .recent-table-list-title-section button {
    padding: 0.5rem;
    width: 50%;
  }
}

.input-box input[type="file"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.input-box label {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 30px;
  padding: 0 25px;
  cursor: pointer;
  transition: all ease-out 200ms;
}

.input-box label:not(.chosen):hover {
  background-color: blue;
  box-shadow: 0 0 10px 0 rgb(red, green, blue);
}

.input-box img {
  width: 37px;
  margin-right: 15px;
}
